.lista {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.item {
  padding: 12px 20px;
  margin: 10px 0;
  background-color: lightgray;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item.activo {
  background-color: purple;
  color: white;
}
